body {
    font-size: 20px;
}
table{
    width: 100%;
    margin: 30px auto;
    border-collapse: collapse;
    text-align: left;
}
tr {
    border-bottom: 3px solid green;
}
th, td{
    border: none;
    height: 40px;
    padding: 2px;
}
tr:hover {
    background: grey;
}

form {
    width: 50%;
    margin: 50px auto;
    text-align: left;
    padding: 20px; 
    border: 1px solid green; 
    border-radius: 5px;
}

label{
    font-size: 40px;
}

.input-group {
    margin: 10px 0px 10px 0px;
}
.input-group label {
    display: block;
    text-align: left;
    margin: 3px;
}
.input-group input {
    height: 30px;
    width: 83%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid green;
}
.btn {
    padding: 15px;
    font-size: 30px;
    color: white;
    background: green;
    border: none;
    border-radius: 5px;
}
.edit_btn {
    text-decoration: none;
    padding: 2px 5px;
    background: #2E8B57;
    color: white;
    border-radius: 3px;
}

.del_btn {
    text-decoration: none;
    padding: 2px 5px;
    color: white;
    border-radius: 3px;
    background: #800000;
}
.msg {
    margin: 30px auto; 
    padding: 10px; 
    border-radius: 5px; 
    color: #3c763d; 
    background: green; 
    border: 1px solid #3c763d;
    width: 50%;
    text-align: center;
}